<h1>Book Now</h1>

<%= form_with model: [@activity, @booking], local: true do |form| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :date %>
  <%= f.date_select :date %>
  <%= f.submit "Book Now" %>
<% end %>
