<h1><%= activity.name %></h1>
  <p><%= activity.user_id %></p>
  <p><%= activity.image_url %></p>
  <p><%= activity.description %></p>
  <p><%= activity.category %></p>
  <p><%= activation.location %></p>


